
.container {
    padding: var(--space-800) var(--space-400) var(--space-400) var(--space-400);
    overflow: hidden;
}

.banner-container {
    margin: 0 calc(-50vw + 50%);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.banner-img {
    width: clamp(27.063rem, 3.983rem + 98.473vw, 51.25rem);
    max-width: clamp(27.063rem, 3.983rem + 98.473vw, 51.25rem);
}