@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* overflow-wrap: break-word; */
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-wrap: balance; */
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --light-cyan: #8fe3f9;
    --dark-cyan: #4d96a9;
    --light-purple: #d9b8ff;
    --dark-purple: #855fb1;
    --light-gray: #d1d1df;
    --gray: #87879d;
    --dark-gray: #28283d;
    --white: #fafafa;
    --text-preset-one-desk: 900 4rem/1.1 "Red Hat Display";
    --text-preset-two-desk: 900 2.5rem/1.1 "Red Hat Display";
    --text-preset-three-desk: 900 1rem/1.1 "Red Hat Display";
    --text-preset-four-desk: 500 1.125rem/1.5 "Red Hat Display";
    --text-preset-five-desk: 900 1rem/1.5 "Red Hat Display";

    --text-preset-one-tab: 900 3rem/1.1 "Red Hat Display";
    --text-preset-two-tab: 900 2.25rem/1.1 "Red Hat Display";
    --text-preset-three-tab: 900 0.875rem/1.1 "Red Hat Display";
    --text-preset-four-tab: 500 1rem/1.5 "Red Hat Display";

    --text-preset-one-mob: 900 2.5rem/1.1 "Red Hat Display";
    --text-preset-two-mob: 900 2rem/1.1 "Red Hat Display";
    --text-preset-three-mob: 900 0.75rem/1.1 "Red Hat Display";

    --space-50: 0.25rem;
    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-700: 3.5rem;
    --space-800: 4rem;
    --space-900: 4.5rem;
    --space-1000: 5rem;
    --space-1400: 7rem;
}

html {
    font-family: "Red Hat Display";
}

body {
    margin: 0;
}
